


.about {
	background: #F9F9F9;
	box-shadow: inset 0 10px 10px -5px rgba(0,0,0,.1);
	padding: 40px 0;
}


.about-person__container {
	border-bottom: 1px solid #F2F2F2;
}

.about__name {
  color: #D3D3D3;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2rem;
  margin: 0;
}

.about__job {
  color: #E6987D;
  text-transform: capitalize;
  padding: 0;
  letter-spacing: 1px;
}



.about__intro {
	padding: 20px;
	padding-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 800;
	margin: 0;

}


.about-skills {
	list-style-type: none;
	margin: 0;
}


.about-skills li {
	display: inline-block;
	margin-left: 20px;
	color: #E6987D;
}

.alien {
	max-width: 500px;
	width: 100%;
}