




/* hides those pesky radio buttons */

input[name="group-1"] {
  display: none
}

//  the main container that houses the tabs and carousel
.tab-carousel__container {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  margin: auto;
}

//  container for tabs
.vertical-tab__tabs {
  flex: 1 0 150px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

// styling for the tab labels
.vertical-tab__label {
  text-align: center;
  padding: 15px 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  box-shadow: 1px 5px 3px rgba(0, 0, 0, .2);
  border: 3px solid #fff;
  display: block;
  background: #7ECDB8;
  margin: 5px 0;
  width: 80%;
  cursor: pointer;
  transition: border 150ms ease, background 100ms ease-in;
  &:hover {
    border-right: 15px solid #fff;
    border-left: 15px solid #fff;
    background: #7BBDBF;
  }
}

// scss for loop that keeps labels hover style when radio button is checked
@for $i from 1 through 8 {
  .vertical-tab__radio:checked:nth-child(#{$i}) ~ .vertical-tab__tabs > .vertical-tab__label:nth-child(#{$i}) {
    border-right: 10px solid #fff;
    border-left: 10px solid #fff;
    background: #7BBDBF;
  }
}

//  content container that contains the carousel and info for text
.vertical-tab__content {
  position: relative;
  background: #7ECDB8;
  border-radius: 5px;
  border: 5px solid #fff;
  flex: 4 0 400px;
  min-height: 600px;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, .2);
}

// styling for container within the container that holds the carousel and info paragraph
.vertical-tab__content-project {
  background: #fff;
  height: 95%;
  width: 90%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity .2s ease;
}

// scss for loop to bring .vertical-tab__content-project above other containers 
@for $i from 1 through 8 {
  .vertical-tab__radio:checked:nth-child(#{$i}) ~ .vertical-tab__content > .vertical-tab__content-project:nth-child(#{$i}) {
    opacity: 1;
  }
}

//==============================================//
//              carousel styles                 //
//==============================================//
// put two classes together to override skeleton styles
.carousel-radio.carousel-radio {
  display: none;
}

.carousel {
  position: absolute;
  width: 100%;
  z-index: 5;
  height: 100%;
}

.carousel-slide {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  text-align: center;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity .1s ease;
  background: #fff;
}

// control styling
.previous.previous,
.next.next {
  position: absolute;
  bottom:50%;
  font-size: 4rem;
  color: #7BBDBF;
  text-shadow: 0px 4px 25px rgba(0, 0, 0, .3);
  cursor: pointer;

  @include forLargeScreens(500px) {
    bottom: 10%;
  }
}

.previous {
  left: .8rem;
}

.next {
  right: .8rem;
}

// carousel content styles

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 0 0;
  align-items: center;
}

.carousel-heading {
 color: #7BBDBF;
 text-transform: uppercase;
}


.carousel-info {
  padding: 0 20px;
  font-size: 1.8rem;
  &:first-letter {
    text-transform: capitalize;
  }
}

.carousel-img {
  width: 80%;
  max-height: 450px;
  max-width: 100%;
 
}

.carousel-links {
  list-style: none;
}

.carousel-links__item {
  padding: 5px;
  font-size: 2.2rem;
}

.carousel-links__item a {
  text-decoration: none;
  word-spacing: 5px;
  letter-spacing: 2px;
}





// a for loop within a for loop allows us to target each group of radio buttons for each slide then
// target those radio buttons within 
@for $i from 1 through 8 {
  .carousel-#{$i} {
    @for $i from 1 through 2 {
      .carousel-radio:nth-of-type(#{$i}):checked ~ .carousel-slide:nth-of-type(#{$i}) {
        opacity: 1;
        pointer-events: auto;

      }
    }
  }
}




// media queries
@media(max-width: 1000px) {
  .vertical-tab__label {
    &:hover {
      border-right: 10px solid #fff;
      border-left: 10px solid #fff;
      background: #7BBDBF;
    }
  }
}

@media (max-width:851px) {
  .tab-carousel__container {
    flex-direction: row;
    justify-content: center;
  }
  .vertical-tab__label {
    width: 100%;
  }
  .vertical-tab__content {
    flex: 1 0 100%;
  }
  .vertical-tab__label {
    &:hover {
      border-right: 10px solid #fff;
      border-left: 10px solid #fff;
      background: #7BBDBF;
    }
  }
}






























