

.site-header {
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding:  0;
	height: 80px;
	flex-wrap: wrap;
}






// search
.search-container {
  padding: 0;
  padding-left: 10px;
  margin-top:20px;
  width: 350px;
  height: 50px;
  max-width: 650px;
  position: relative;
  height: 100%;

}

.search-container input {
 flex: 1 0 300px;
 margin: 0;
 float: left;
 font-size: 16px;
 height: 40px;
 width: 100%;
 padding: 2px 5px;
 box-sizing: border-box;
 display: inline-block;
 outline: none;

 &:focus {

 }

}

.search-container button {
	position: absolute;
	float: left;
	right: 0;
	padding: 20px;
	height: 40px;
	width:60px;
	line-height: 2;
	font-weight: 500;
	box-shadow: 0 1px 0 rgba(0,0,0,0.05);
    opacity: .7;
  border-color: #d3d3d3;
  background: #f8f8f8;
  
  border: solid 1px #ccc;
   border-radius: 0;
  float: right;
 
  padding: 0;
  text-align: center;
  font-size: 1.4rem;

  &:hover {
  	opacity: 1;
  	border: 1px solid black;
  }
} 



// site authour
.author-name {
	flex: 1 0 300px;
	text-align: left;
	margin-top: 15px;
	padding: 0;
}