

.skills-heading {
	background: #E8987D;
	height: 130px;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	

}

.skills-heading__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-title {
  font-size: 5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Rubik";
  font-weight: 700;
}


