@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');
@import "global";
@import "variables";
@import "mixins";
@import "site-navigation";
@import "header";
@import "about";
@import "quote-section";
@import "projects-heading";
@import "projects";
@import "skills-heading";
@import "carousel";
@import "skills";
@import "contact-heading";
@import "contact";
@import "footer";






@media (max-width: 920px) {
	.pie.pie {
		margin: 0;
		width: 100%;
	}
}

@media (max-width: 430px) {
	.graph-container { 
       padding: 20px 0;
       max-width: 90%;
       margin: 0 auto;
	}

	.graph-bars {
		justify-content: space-around;
	}

	.graph-bar {
		width: 20px;
	}

	.skill-level__item {
		padding: 10px 0;
	}

	[class*="bar-"]:after {
		transform: rotate(90deg);
		left: -15px;
	}


	[class*="bar-3"]:after {
	 bottom: -40px;	
     left: 0;
     width: 10px;
     display: inline-block;


}
}