@import url("https://fonts.googleapis.com/css?family=Rubik:400,700");
* {
  box-sizing: border-box; }

header,
section {
  text-align: center;
  padding: 80px 0; }

.nav {
  position: fixed;
  z-index: 10000;
  width: 350px;
  left: 0;
  bottom: 0;
  height: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease; }
  @media (max-width: 500px) {
    .nav {
      width: 250px; } }

#hamburger-toggle {
  display: none; }

.hamburger-icon {
  position: absolute;
  text-align: center;
  left: 100%;
  font-size: 4rem;
  background: #EE9E83;
  color: #fff;
  width: 80px;
  opacity: .5; }
  .hamburger-icon:hover {
    opacity: .5; }
  .hamburger-icon:active {
    opacity: 1; }
  @media (max-width: 800px) {
    .hamburger-icon {
      top: 25%; } }

.main-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  list-style: none;
  background: #676C80;
  text-align: center;
  -webkit-transition: left .50s ease-in-out;
  transition: left .50s ease-in-out; }

.main-nav li {
  font-size: 2rem;
  text-transform: uppercase; }
  @media (max-width: 400px) {
    .main-nav li {
      font-size: 1.5rem; } }

.main-nav__link {
  display: block;
  letter-spacing: 2px;
  padding: 30px;
  text-decoration: none;
  width: 100%;
  color: #fff;
  line-height: 2; }
  .main-nav__link:hover {
    background: #fff;
    opacity: .4; }

#hamburger-toggle:checked ~ label {
  color: #fff; }

#hamburger-toggle:checked ~ .nav {
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0;
  height: 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative; }

@media (max-width: 530px) {
  .search-main__container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; } }

.search-container {
  padding: 0 5px;
  margin-top: 10px;
  width: 100%;
  height: 50px;
  max-width: 900px;
  position: relative;
  height: 100%; }

.search-container input {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
  margin: 0;
  float: left;
  font-size: 16px;
  height: 60px;
  width: 100%;
  padding: 2px 5px;
  padding-left: 20px;
  box-sizing: border-box;
  display: inline-block;
  outline: none;
  font-size: 3rem;
  overflow: hidden;
  border: 1px solid black; }
  @media (max-width: 800px) {
    .search-container input {
      padding-left: 8px; } }

.search-container button {
  position: absolute;
  float: left;
  right: 5px;
  padding: 20px;
  padding-right: 70px;
  height: 60px;
  width: 60px;
  line-height: 2;
  font-weight: 500;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  opacity: 1;
  background: #f8f8f8;
  border-radius: 2px;
  float: right;
  padding: 0;
  text-align: center;
  font-size: 2rem; }
  .search-container button:hover {
    opacity: 1;
    background: #ccc; }

.author-name {
  position: absolute;
  text-align: left;
  margin-top: 15px;
  padding: 0;
  right: 15px; }
  @media (max-width: 1200px) {
    .author-name {
      display: none; } }

.about {
  background: #F9F9F9;
  box-shadow: inset 0 10px 10px -5px rgba(0, 0, 0, 0.1);
  padding: 50px 0;
  padding-bottom: 0; }

.about-person__container {
  border-bottom: 1px solid #F2F2F2; }

.about__name {
  color: #D3D3D3;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2rem;
  margin: 0; }

.about__job {
  color: #E6987D;
  text-transform: capitalize;
  padding: 0;
  letter-spacing: 1px; }

.about__intro {
  padding: 20px;
  padding-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  margin: 0;
  font-family: "Rubik", arial; }

.about-skills {
  list-style-type: none;
  margin: 0; }

.about-skills li {
  display: inline-block;
  margin-left: 20px;
  color: #E6987D; }

.alien {
  max-width: 500px;
  max-height: 600px;
  width: 100%; }

.quote {
  color: #fff;
  background: #565B6E; }

.quote__text {
  margin: 0;
  font-size: 3.4rem; }

.quote-author {
  text-align: right;
  font-size: 4rem;
  letter-spacing: 1px;
  padding-top: 20px;
  margin: 0; }
  .quote-author:before {
    content: "-";
    padding: 10px; }

.projects-heading__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #D27474;
  box-shadow: inset 0 10px 10px -5px rgba(0, 0, 0, 0.3);
  max-height: 150px; }

.project-heading {
  font-size: 5rem;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Rubik", sans-serif;
  font-weight: 700; }

.projects {
  height: 800px;
  background: #D87879;
  height: auto;
  box-shadow: inset 0 10px 10px -5px rgba(0, 0, 0, 0.3); }

.skills-heading {
  background: #E8987D;
  height: 130px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.skills-heading__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.skills-title {
  font-size: 5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Rubik";
  font-weight: 700; }

/* hides those pesky radio buttons */
input[name="group-1"] {
  display: none; }

.tab-carousel__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto; }

.vertical-tab__tabs {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 150px;
          flex: 1 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px; }

.vertical-tab__label {
  text-align: center;
  padding: 15px 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.2);
  border: 3px solid #fff;
  display: block;
  background: #7ECDB8;
  margin: 5px 0;
  width: 80%;
  cursor: pointer;
  -webkit-transition: border 150ms ease, background 100ms ease-in;
  transition: border 150ms ease, background 100ms ease-in; }
  .vertical-tab__label:hover {
    border-right: 15px solid #fff;
    border-left: 15px solid #fff;
    background: #7BBDBF; }

.vertical-tab__radio:checked:nth-child(1) ~ .vertical-tab__tabs > .vertical-tab__label:nth-child(1) {
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
  background: #7BBDBF; }

.vertical-tab__radio:checked:nth-child(2) ~ .vertical-tab__tabs > .vertical-tab__label:nth-child(2) {
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
  background: #7BBDBF; }

.vertical-tab__radio:checked:nth-child(3) ~ .vertical-tab__tabs > .vertical-tab__label:nth-child(3) {
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
  background: #7BBDBF; }

.vertical-tab__radio:checked:nth-child(4) ~ .vertical-tab__tabs > .vertical-tab__label:nth-child(4) {
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
  background: #7BBDBF; }

.vertical-tab__radio:checked:nth-child(5) ~ .vertical-tab__tabs > .vertical-tab__label:nth-child(5) {
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
  background: #7BBDBF; }

.vertical-tab__radio:checked:nth-child(6) ~ .vertical-tab__tabs > .vertical-tab__label:nth-child(6) {
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
  background: #7BBDBF; }

.vertical-tab__radio:checked:nth-child(7) ~ .vertical-tab__tabs > .vertical-tab__label:nth-child(7) {
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
  background: #7BBDBF; }

.vertical-tab__radio:checked:nth-child(8) ~ .vertical-tab__tabs > .vertical-tab__label:nth-child(8) {
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
  background: #7BBDBF; }

.vertical-tab__content {
  position: relative;
  background: #7ECDB8;
  border-radius: 5px;
  border: 5px solid #fff;
  -webkit-box-flex: 4;
      -ms-flex: 4 0 400px;
          flex: 4 0 400px;
  min-height: 600px;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2); }

.vertical-tab__content-project {
  background: #fff;
  height: 95%;
  width: 90%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease; }

.vertical-tab__radio:checked:nth-child(1) ~ .vertical-tab__content > .vertical-tab__content-project:nth-child(1) {
  opacity: 1; }

.vertical-tab__radio:checked:nth-child(2) ~ .vertical-tab__content > .vertical-tab__content-project:nth-child(2) {
  opacity: 1; }

.vertical-tab__radio:checked:nth-child(3) ~ .vertical-tab__content > .vertical-tab__content-project:nth-child(3) {
  opacity: 1; }

.vertical-tab__radio:checked:nth-child(4) ~ .vertical-tab__content > .vertical-tab__content-project:nth-child(4) {
  opacity: 1; }

.vertical-tab__radio:checked:nth-child(5) ~ .vertical-tab__content > .vertical-tab__content-project:nth-child(5) {
  opacity: 1; }

.vertical-tab__radio:checked:nth-child(6) ~ .vertical-tab__content > .vertical-tab__content-project:nth-child(6) {
  opacity: 1; }

.vertical-tab__radio:checked:nth-child(7) ~ .vertical-tab__content > .vertical-tab__content-project:nth-child(7) {
  opacity: 1; }

.vertical-tab__radio:checked:nth-child(8) ~ .vertical-tab__content > .vertical-tab__content-project:nth-child(8) {
  opacity: 1; }

.carousel-radio.carousel-radio {
  display: none; }

.carousel {
  position: absolute;
  width: 100%;
  z-index: 5;
  height: 100%; }

.carousel-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  text-align: center;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity .1s ease;
  transition: opacity .1s ease;
  background: #fff; }

.previous.previous,
.next.next {
  position: absolute;
  bottom: 50%;
  font-size: 4rem;
  color: #7BBDBF;
  text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3);
  cursor: pointer; }
  @media (max-width: 500px) {
    .previous.previous,
    .next.next {
      bottom: 10%; } }

.previous {
  left: .8rem; }

.next {
  right: .8rem; }

.slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.carousel-heading {
  color: #7BBDBF;
  text-transform: uppercase; }

.carousel-info {
  padding: 0 20px;
  font-size: 1.8rem; }
  .carousel-info:first-letter {
    text-transform: capitalize; }

.carousel-img {
  width: 80%;
  max-height: 450px;
  max-width: 100%; }

.carousel-links {
  list-style: none; }

.carousel-links__item {
  padding: 5px;
  font-size: 2.2rem; }

.carousel-links__item a {
  text-decoration: none;
  word-spacing: 5px;
  letter-spacing: 2px; }

.carousel-1 .carousel-radio:nth-of-type(1):checked ~ .carousel-slide:nth-of-type(1) {
  opacity: 1;
  pointer-events: auto; }

.carousel-1 .carousel-radio:nth-of-type(2):checked ~ .carousel-slide:nth-of-type(2) {
  opacity: 1;
  pointer-events: auto; }

.carousel-2 .carousel-radio:nth-of-type(1):checked ~ .carousel-slide:nth-of-type(1) {
  opacity: 1;
  pointer-events: auto; }

.carousel-2 .carousel-radio:nth-of-type(2):checked ~ .carousel-slide:nth-of-type(2) {
  opacity: 1;
  pointer-events: auto; }

.carousel-3 .carousel-radio:nth-of-type(1):checked ~ .carousel-slide:nth-of-type(1) {
  opacity: 1;
  pointer-events: auto; }

.carousel-3 .carousel-radio:nth-of-type(2):checked ~ .carousel-slide:nth-of-type(2) {
  opacity: 1;
  pointer-events: auto; }

.carousel-4 .carousel-radio:nth-of-type(1):checked ~ .carousel-slide:nth-of-type(1) {
  opacity: 1;
  pointer-events: auto; }

.carousel-4 .carousel-radio:nth-of-type(2):checked ~ .carousel-slide:nth-of-type(2) {
  opacity: 1;
  pointer-events: auto; }

.carousel-5 .carousel-radio:nth-of-type(1):checked ~ .carousel-slide:nth-of-type(1) {
  opacity: 1;
  pointer-events: auto; }

.carousel-5 .carousel-radio:nth-of-type(2):checked ~ .carousel-slide:nth-of-type(2) {
  opacity: 1;
  pointer-events: auto; }

.carousel-6 .carousel-radio:nth-of-type(1):checked ~ .carousel-slide:nth-of-type(1) {
  opacity: 1;
  pointer-events: auto; }

.carousel-6 .carousel-radio:nth-of-type(2):checked ~ .carousel-slide:nth-of-type(2) {
  opacity: 1;
  pointer-events: auto; }

.carousel-7 .carousel-radio:nth-of-type(1):checked ~ .carousel-slide:nth-of-type(1) {
  opacity: 1;
  pointer-events: auto; }

.carousel-7 .carousel-radio:nth-of-type(2):checked ~ .carousel-slide:nth-of-type(2) {
  opacity: 1;
  pointer-events: auto; }

.carousel-8 .carousel-radio:nth-of-type(1):checked ~ .carousel-slide:nth-of-type(1) {
  opacity: 1;
  pointer-events: auto; }

.carousel-8 .carousel-radio:nth-of-type(2):checked ~ .carousel-slide:nth-of-type(2) {
  opacity: 1;
  pointer-events: auto; }

@media (max-width: 1000px) {
  .vertical-tab__label:hover {
    border-right: 10px solid #fff;
    border-left: 10px solid #fff;
    background: #7BBDBF; } }

@media (max-width: 851px) {
  .tab-carousel__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .vertical-tab__label {
    width: 100%; }
  .vertical-tab__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%; }
  .vertical-tab__label:hover {
    border-right: 10px solid #fff;
    border-left: 10px solid #fff;
    background: #7BBDBF; } }

.skills {
  background: #EE9E83;
  box-shadow: inset 0 10px 10px -5px rgba(0, 0, 0, 0.1);
  padding-top: 0; }

.pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.pie__heading {
  position: absolute;
  text-align: center;
  top: 20px;
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  bottom: 0;
  text-shadow: 2px 1px 5px #000; }

.c100 {
  position: relative;
  height: 260px;
  width: 260px;
  border-radius: 50%;
  background-color: whitesmoke;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2); }
  .c100:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px;
    display: block;
    content: " ";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #EF9D80;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.3); }

.c100 > span {
  position: absolute;
  z-index: 5;
  color: #fff;
  font-size: 5rem;
  top: 35%;
  left: 35%; }

.slice .mask .fill {
  position: absolute;
  width: 260px;
  height: 260px;
  top: 0;
  border-radius: 50%;
  background: #009688;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  clip: rect(0px, 160px, 130px, 0px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

.slice .mask {
  position: absolute;
  width: 260px;
  height: 260px;
  top: 0;
  border-radius: 50%;
  background: #009688;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  clip: rect(0px, 260px, 260px, 0px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

.slice > .mask.left {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  clip: rect(0px, 130px, 130px, 0px); }

.slice > .mask.right {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  clip: rect(0px, 260px, 130px, 0px); }

.slice > .mask.left.progress-back {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  clip: rect(0px, 0px, 0px, 0px); }

.slice > .mask.right.progress-back {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  clip: rect(0px, 130px, 130px, 0px); }

.graphs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1600px;
  margin: auto; }

.graph-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 400px;
          flex: 1 0 400px;
  padding: 20px;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto; }

.graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.skill-level {
  margin: 0;
  list-style-type: none; }

.skill-level__item {
  text-transform: uppercase;
  color: #fff;
  line-height: 2;
  padding: 10px; }

.graph-heading {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 3px 5px #000;
  letter-spacing: 1px;
  text-align: left; }

.graph-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #fff; }

.graph-bar {
  width: 40px;
  height: 100%;
  background: #fff;
  position: relative;
  box-shadow: 3px 0px 2px rgba(0, 0, 0, 0.2); }

[class*="bar-"]:after {
  text-transform: capitalize;
  position: absolute;
  bottom: -75px;
  left: 10px;
  -webkit-transform: rotate(65deg);
          transform: rotate(65deg);
  font-size: 1.2rem;
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); }

[class*="bar-3"]:after {
  position: absolute;
  bottom: -40px;
  left: 10px;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
  display: inline-block;
  width: 10px;
  white-space: nowrap; }

.bar-1-1 {
  height: 40%; }
  .bar-1-1:after {
    content: "JavaScript"; }

.bar-1-2 {
  height: 70%; }
  .bar-1-2:after {
    content: "HTML/CSS"; }

.bar-1-3 {
  height: 20%; }
  .bar-1-3:after {
    content: "ReactJs"; }

.bar-1-4 {
  height: 40%; }
  .bar-1-4:after {
    content: "pug"; }

.bar-1-5 {
  height: 20%; }
  .bar-1-5:after {
    content: "JQuery"; }

.bar-2-1 {
  height: 20%; }
  .bar-2-1:after {
    content: "NodeJS"; }

.bar-2-2 {
  height: 20%; }
  .bar-2-2:after {
    content: "GoLang"; }

.bar-2-3 {
  height: 20%; }
  .bar-2-3:after {
    content: "PostgresQl"; }

.bar-2-4 {
  height: 20%; }
  .bar-2-4:after {
    content: "AWS"; }

.bar-2-5 {
  height: 20%; }
  .bar-2-5:after {
    content: "Docker"; }

.bar-3-1 {
  height: 20%; }
  .bar-3-1:after {
    content: "Written Communication"; }

.bar-3-2 {
  height: 40%; }
  .bar-3-2:after {
    content: "Problem Solving"; }

.bar-3-3 {
  height: 20%; }
  .bar-3-3:after {
    content: "Project Management"; }

.bar-3-4 {
  height: 40%; }
  .bar-3-4:after {
    content: "Research"; }

.bar-3-5 {
  height: 20%; }
  .bar-3-5:after {
    content: "Public Speaking"; }

.phantom-container {
  height: 100px; }

.contact-heading {
  background: #7CBCBE;
  color: #fff; }

.contact {
  background: #81C9CD;
  box-shadow: inset 0 10px 10px -5px rgba(0, 0, 0, 0.1);
  background: url(../images/cloud1.svg) 20% 10%/250px no-repeat, url(../images/cloud1.svg) 100px 90%/250px no-repeat, url(../images/cloud2.svg) 98% 20%/600px no-repeat #81C9CD; }

.social-icons {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.social__item {
  list-style-type: none; }

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #fff;
  width: 70px;
  height: 70px;
  font-size: 5rem;
  color: #fff;
  border-radius: 5px;
  margin: auto;
  background: #80CCB8;
  cursor: pointer; }
  .social__link:hover {
    color: #fff; }

input[type="text"]:first-of-type {
  margin-top: 25px; }

.form__input {
  background: #8BD5D9;
  border: none;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff; }

.form__textarea {
  resize: none;
  padding-left: 20px;
  padding-top: 20px; }

.form__button {
  border: none;
  text-transform: uppercase;
  background: #D77372;
  padding: 15px 10px;
  border-radius: 5px;
  box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 2rem; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff; }

.site-footer {
  text-align: center;
  padding: 5px; }

@media (max-width: 920px) {
  .pie.pie {
    margin: 0;
    width: 100%; } }

@media (max-width: 430px) {
  .graph-container {
    padding: 20px 0;
    max-width: 90%;
    margin: 0 auto; }
  .graph-bars {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .graph-bar {
    width: 20px; }
  .skill-level__item {
    padding: 10px 0; }
  [class*="bar-"]:after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: -15px; }
  [class*="bar-3"]:after {
    bottom: -40px;
    left: 0;
    width: 10px;
    display: inline-block; } }
